* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;

}

li a:hover {
    background-color: #222222;
}

.current a {
    background-color: #e11313;
}

.current a:hover {
    background-color: #e11313;
}

h1 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2.5em;
}

h3 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2em;
}

p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5em;
}